<div id="checkoutcardpin">
  <div class="box-container w-[80%] mx-auto py-16">
    <div>
      <h5 class="otp-text">
        Please enter your 4-digit card pin to authorize this payment
      </h5>

      <div class="mt-8">
        <div class="otp-container">
          <input type="text" class="otp-input" maxlength="1" id="otp1" />
          <input type="text" class="otp-input" maxlength="1" id="otp2" />
          <input type="text" class="otp-input" maxlength="1" id="otp3" />
          <input type="text" class="otp-input" maxlength="1" id="otp4" />
        </div>

        <div class="container-center mt-8">
          <button class="otp-cancel">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>
