<div id="checkoutcardpin">
  <div class="box-container w-4/5 mx-auto py-16">
    <div class="container-center h-[20vh] hidden" id="loader">
      <img src="" alt="loader gif" />
    </div>
    <div id="pin-content">
      <h5 class="pin-text">
        Please enter your 4-digit card pin to authorize this payment
      </h5>

      <div class="mt-8">
        <div class="pin-container">
          <input type="tel" class="pin-input" maxlength="1" id="pin1" />
          <input type="tel" class="pin-input" maxlength="1" id="pin2" />
          <input type="tel" class="pin-input" maxlength="1" id="pin3" />
          <input type="tel" class="pin-input" maxlength="1" id="pin4" />
        </div>

        <div class="container-center mt-8">
          <button class="pin-cancel">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>
