<div id="checkoutcardotp">
  <div class="box-container w-4/5 mx-auto py-16">
    <div>
      <h5 class="otp-text">Kindly enter the OTP sent to 234249***3875</h5>

      <div class="mt-8">
        <div class="relative w-full grid grid-cols-3 gap-5">
          <div class="col-span-2">
            <input
              class="otp-input"
              type="tel"
              id="card-otp"
              name="otp"
              required
            />
          </div>

          <div>
            <button class="otp-button" disabled="true">Authorize</button>
          </div>
        </div>

        <div class="py-5">
          <p class="otp-subtext">
            A token should be sent to you  within 6 minutes
          </p>
        </div>

        <div class="container-center">
          <button class="pin-cancel">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>
