<div id="trasferConfirmationOne">
    <div class="box-container">
        <div class="text-center mt-7 w-4/5 md:w-3/5 mx-auto">
            <h5 class="text-center text-grey-400 w-4/5 mx-auto mt-4 mb-7 flex">
                We’ll complete this transaction automatically once we confirm your transfer.
            </h5>

            <div class="container-center gap-2">
                <div class="h-3 w-3 order-1 rounded-full border-primary border bg-primary"></div>
                <div class="h-3 w-3 order-2 rounded-full border-[1px] border-[#C0B5CF]"></div>
            </div>

            <div class="mt-10 mx-[18px]">
                <button class="warning-button w-[200px]" id="confirm-one">
                    Next
                </button>
            </div>
        </div>
    </div>
    </div>