<div id="trasferConfirmationOne">
  <div class="box-container">
    <div class="text-center mt-7 w-3/5 mx-auto">
      <h5 class="text-center text-grey-400 w-4/5 mx-auto mt-4 mb-7 flex">
        If you have any issues with this transfer, please contact us via
        support@spotflow.com
      </h5>

      <div class="container-center gap-2">
        <div
          class="order-2 h-3 w-3 rounded-full border-primary border bg-primary"
        ></div>
        <div
          class="order-1 h-3 w-3 rounded-full border-[1px] border-[#C0B5CF]"
        ></div>
      </div>

      <div class="mt-10 mb-4 mx-[18px]">
        <button class="transfer-close">Close Checkout</button>
      </div>
      <div class="container-center">
        <button class="text-grey-400 text-center hover:underline">
          Keep waiting
        </button>
      </div>
    </div>
  </div>
</div>
