@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: 240, 100%, 28%;
    --primary-light: 240, 100%, 98%;

    --common: 60, 4%, 43%;

    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

.tab-button.active::after {
  animation: text-underline-animation 300ms linear forwards;
}

#main {
  grid-area: main;
  block-size: 100%;
  overflow: hidden;
  gap: 0.5rem;
  display: flex;
  background-color: yellow;
}
/* .tab-button.active {
  color: blue;
} */

.content {
  display: none;
  block-size: 100%;
}

.content.active {
  display: block;
}

@layer base {
  /* utils */
  .container-center {
    @apply flex items-center justify-center;
  }
  .container-between {
    @apply flex items-center justify-between;
  }

  .payment-options {
    @apply w-full max-w-md flex flex-col overflow-hidden min-h-12;
  }

  .tab {
    @apply mb-3 text-left justify-start flex items-center;
  }

  .tab-button {
    @apply py-3 px-5 grow text-center text-[#3D3844] flex items-center  hover:bg-primary hover:rounded-xl hover:text-white;
  }

  .tab-button.active {
    @apply bg-primary rounded-xl text-white [&_*]:fill-white;
  }

  .tab-button span {
    @apply justify-start flex shrink-0 font-semibold my-1 ;
  }

  /* .tab-button path {
    @apply group-hover:fill-white;
  } */
}
