<div role="dialog" class="relative z-10" aria-labelledby="modal-title" aria-modal="true">
  <div class="fixed inset-0 bg-[#fafaff] bg-opacity-100 transition-opacity" aria-hidden="true"></div>

  <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
    <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
      <div
        class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 w-100% sm:w-[80%] md:w-[900px] min-h-screen sm:min-h-[70%] flex">
        <aside class="px-2 py-4 md:flex justify-center w-[250px] bg-[#f4f4ff] overflow-auto hidden">
          <div class="w-full py-8">
            <div class="container-center">
              <img src="" alt="Nba Logo" id="merchantLogo" />
            </div>
            <h5 class="text-xl font-semibold text-common pt-10 pb-4 text-center">PAYMENT OPTIONS</h5>
            <div class="payment-options">

              <!-- Tab options -->
            </div>
          </div>
        </aside>
        <div class="main" id="main">

          <!-- header -->
          <div class="header-container">
            <div class="container-between border-b border-b-white pb-[9.6px]">
              <p class="text-xs">Julesanums@gmail.com</p>
              <p class="text-xs">League Pass</p>
            </div>
            <div class="container-between pt-[9.6px] pb-[6.4px]">
              <div class="align-center">
                <p class="text-sm mr-1"> USD 1 = NGN 1,483.98</p>
                <div class="group relative flex flex-col items-center cursor-pointer">
                  <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M5 8C4.72386 8 4.5 7.77614 4.5 7.5L4.5 4C4.5 3.72386 4.72386 3.5 5 3.5C5.27614 3.5 5.5 3.72386 5.5 4L5.5 7.5C5.5 7.77614 5.27614 8 5 8Z"
                      fill="#CCCCE8" />
                    <path
                      d="M5.625 2.625C5.625 2.27982 5.34518 2 5 2C4.65482 2 4.375 2.27982 4.375 2.625C4.375 2.97018 4.65482 3.25 5 3.25C5.34518 3.25 5.625 2.97018 5.625 2.625Z"
                      fill="#CCCCE8" />
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M10 5C10 7.76142 7.76142 10 5 10C2.23858 10 1.95703e-07 7.76142 4.37114e-07 5C6.78525e-07 2.23858 2.23858 -6.78525e-07 5 -4.37114e-07C7.76142 -1.95703e-07 10 2.23858 10 5ZM5 9C7.20914 9 9 7.20914 9 5C9 2.79086 7.20914 1 5 1C2.79086 0.999999 1 2.79086 1 5C1 7.20914 2.79086 9 5 9Z"
                      fill="#CCCCE8" />
                  </svg>

                  <div class="tooltip">
                    <div class="tooltip-textbox">
                      <p class="tooltip-title">
                        What is this?
                      </p>
                      <p class="tooltip-text">
                        This rate reflects the current exchange rate for
                        converting United States Dollars (USD) to Nigerian Naira
                        (NGN). Please note that exchange rates are subject to
                        change and may vary slightly at the time of the
                        transaction.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div>
                <p class="text-sm"> Pay
                  <span> USD 14.99</span>
                </p>
              </div>

            </div>

            <div class="flex justify-end">
              <div class="header-chip">
                NGN 22,244.86
              </div>
            </div>
          </div>
          <!-- body -->
          <div class="box-container-method">
            <div class="content active" data-content="0"></div>
            <div class="content" data-content="1"></div>
            <div class="content" data-content="2"></div>
          </div>
          <!-- footer -->
          <div class="container-center pt-2 pb-8 gap-1">
            <svg width="10" height="12" viewBox="0 0 10 12" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M4.884 0.68L1.384 2.235C1.024 2.395 0.789001 2.755 0.789001 3.15V5.5C0.789001 8.275 2.709 10.87 5.289 11.5C7.869 10.87 9.789 8.275 9.789 5.5V3.15C9.789 2.755 9.554 2.395 9.194 2.235L5.694 0.68C5.439 0.565 5.139 0.565 4.884 0.68ZM5.289 5.995H8.789C8.524 8.055 7.149 9.89 5.289 10.465V6H1.789V3.15L5.289 1.595V5.995Z"
                fill="#6D6A73" />
            </svg>

            <p class="text-[10px] text-grey-100">
              PCI DSS Certified
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
</div>
</div>